<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/main.html">
<head>
    <meta charset="utf-8">
    <style type="text/css">
        .cont {
            width: 500px;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: left;
        }
        .center {
            position:absolute;
            left: 50%;
            right: 50%;
        }
        .tar{
            align: right;
        }
        .fa-heart-o {
            color: red;
            cursor: pointer;
        }

        .fa-heart {
            color: red;
            cursor: pointer;
        }

        button {
            padding: 0;
            border: none;
            background: none;
        }
        .forma {
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/54936aca50.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="title">
    <h2 th:text="${item.title}"></h2>

</div>
<div layout:fragment="myContent">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <a th:text="${item.content}"></a>
            </div>
            <div>
                <a style="color: red" th:text="${#sets.size(item.likes)}"></a>
                <form style="display: inline-block" th:if="${#sets.contains(item.likes, user)}"
                      th:action="@{'/unlikePost'+${item.id}}" method="post">
                    <button id="heart"><i class="fa fa-heart" aria-hidden="true"></i></button>
                </form>

                <form style="display: inline-block" th:unless="${#sets.contains(item.likes, user)}"
                      th:action="@{'/likePost'+${item.id}}" method="post">
                    <button id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                </form>
            </div>
            <div th:switch="${status}" class="mt-20">
                <h3 th:text="#{movie_rating}"></h3>
                <a th:case="'1'" ><h3 th:text="#{negative}"></h3></a>
                <a th:case="'2'" ><h3 th:text="#{mostly_negative}"></h3></a>
                <a th:case="'3'"><h3 th:text="#{neutral}"></h3></a>
                <a th:case="'4'"><h3  th:text="#{mostly_positive}"></h3></a>
                <a th:case="'5'" ><h3 th:text="#{positive}"></h3></a>
                <a th:case="'0'" ><h3 th:text="#{nothing}"></h3></a>
            </div>
                <form th:action="@{'/deletePost'+${item.id}}" sec:authorize="hasRole('ROLE_MODERATOR')" method="post">
                    <button class="genric-btn danger" th:text="#{delete}">DELETE</button>
                </form>
            <h2 th:text="#{comments}" class="mt-200">COMMENTS</h2>

            <form th:action="@{'/addComment'+${item.id}}" method="post" class="form" sec:authorize="isAuthenticated()">
                <div class="form-group blu-margin">
                    <select class="form-control" name="review">
                        <option th:text="Positive" th:value="Positive"></option>
                        <option th:text="Negative" th:value="Negative"></option>
                        <option th:text="Neutral" th:value="Neutral"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="comment" class="form-control" required>
                </div>
                <button class="genric-btn primary" th:text="#{add}"></button>
            </form>
            <ul th:each="com : ${comments}" th:switch="${com.type}" class="mt-20">
                <li th:case="'0'" class="mt-20 cont">
                    <div class="forma" style="background-color: #71dd8a;">
                    <div>
                         <h4 th:text="${com.author.fullName}"></h4>
                        <div><a class="tar"
                            th:text="${#dates.format(com.postDate, 'yyyy-MM-dd HH:mm:ss')}"></a>
                        </div>
                    </div>

                        <hr>
                            <a th:text="${com.comment}"></a>
                        <div>
                            <a style="color:red" th:text="${#sets.size(com.likes)}"></a>
                            <form style="display: inline-block" th:if="${#sets.contains(com.likes, user)}"
                              th:action="@{'/unlikeCom'+${com.id}}" method="post">
                            <button id="heart1"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <input type="hidden" name="post_id" th:value="${item.id}">
                        </form>
                        <form style="display: inline-block; margin: auto" th:unless="${#sets.contains(com.likes, user)}"
                              th:action="@{'/likeCom'+${com.id}}" method="post">
                            <button id="heart1"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                            <input type="hidden" name="post_id" th:value="${item.id}">
                        </form>
                        </div>
                    </div>
                    <div th:if="${com.author.id} == ${aidi}">
                        <form sec:authorize = "hasAnyRole('ROLE_USER','ROLE_ADMIN','ROLE_MODERATOR')" method="post"
                              th:action="@{'/deleteCom'+${com.id}}">
                            <button class="genric-btn danger">DELETE</button>
                            <input type="hidden" th:value="${item.id}" name="post_id">
                        </form>
                        <form method="get" th:action="@{'/editCom'+${com.id}}">
                            <button class="genric-btn warning">EDIT</button>
                        </form>
                    </div>
                    <div th:unless="${com.author.id} == ${aidi}">
                    <form sec:authorize="hasAnyRole('ROLE_MODERATOR')" method="post" style="display:inline-block; margin:auto"
                          th:action="@{'/deleteCom'+${com.id}}">
                        <button class="genric-btn danger" th:text="#{delete}">DELETE</button>
                        <input type="hidden" th:value="${item.id}" name="post_id">
                    </form>
                    </div>
                </li>
                <li th:case="'1'" class="mt-20 cont">
                    <div class="forma" style="background-color: #FFCCCB">
                            <div>
                                <h4 th:text="${com.author.fullName}"></h4>
                                <div><a class="tar"
                                        th:text="${#dates.format(com.postDate, 'yyyy-MM-dd HH:mm:ss')}"></a>
                                </div>
                            </div>

                            <hr>
                            <a th:text="${com.comment}"></a>
                            <div>
                                <a style="color:red" th:text="${#sets.size(com.likes)}"></a>
                                <form style="display: inline-block" th:if="${#sets.contains(com.likes, user)}"
                                      th:action="@{'/unlikeCom'+${com.id}}" method="post">
                                    <button id="heart1"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <input type="hidden" name="post_id" th:value="${item.id}">
                                </form>
                                <form style="display: inline-block; margin: auto" th:unless="${#sets.contains(com.likes, user)}"
                                      th:action="@{'/likeCom'+${com.id}}" method="post">
                                    <button id="heart1"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    <input type="hidden" name="post_id" th:value="${item.id}">
                                </form>
                            </div>
                    </div>
                    <div th:if="${com.author.id} == ${aidi}">
                        <form sec:authorize = "hasAnyRole('ROLE_USER','ROLE_ADMIN','ROLE_MODERATOR')" method="post"
                              th:action="@{'/deleteCom'+${com.id}}">
                            <button class="genric-btn danger">DELETE</button>
                            <input type="hidden" th:value="${item.id}" name="post_id">
                        </form>
                    </div>
                    <div th:unless="${com.author.id} == ${aidi}">
                    <form sec:authorize="hasAnyRole('ROLE_MODERATOR')" method="post"
                          th:action="@{'/deleteCom'+${com.id}}">
                        <button class="genric-btn danger">DELETE</button>
                        <input type="hidden" th:value="${item.id}" name="post_id">
                    </form>
                    </div>
                </li>
                <li th:case="'2'" class="mt-20 cont">
                    <div style="background-color: #D3D3D3" class="forma">
                        <div>
                            <h4 th:text="${com.author.fullName}"></h4>
                            <div><a class="tar"
                                    th:text="${#dates.format(com.postDate, 'yyyy-MM-dd HH:mm:ss')}"></a>
                            </div>
                        </div>

                        <hr>
                        <a th:text="${com.comment}"></a>
                        <div>
                            <a style="color:red" th:text="${#sets.size(com.likes)}"></a>
                            <form style="display: inline-block" th:if="${#sets.contains(com.likes, user)}"
                                  th:action="@{'/unlikeCom'+${com.id}}" method="post">
                                <button id="heart1"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <input type="hidden" name="post_id" th:value="${item.id}">
                            </form>
                            <form style="display: inline-block; margin: auto" th:unless="${#sets.contains(com.likes, user)}"
                                  th:action="@{'/likeCom'+${com.id}}" method="post">
                                <button id="heart1"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <input type="hidden" name="post_id" th:value="${item.id}">
                            </form>
                        </div>
                    </div>
                    <div th:if="${com.author.id} == ${aidi}">
                        <form sec:authorize = "hasAnyRole('ROLE_USER','ROLE_ADMIN','ROLE_MODERATOR')" method="post"
                              th:action="@{'/deleteCom'+${com.id}}">
                            <button class="genric-btn danger">DELETE</button>
                            <input type="hidden" th:value="${item.id}" name="post_id">
                        </form>
                    </div>
                    <div th:unless="${com.author.id} == ${aidi}">
                    <form sec:authorize="hasAnyRole('ROLE_MODERATOR')" method="post"
                          th:action="@{'/deleteCom'+${com.id}}">
                        <button class="genric-btn danger">DELETE</button>
                        <input type="hidden" th:value="${item.id}" name="post_id">
                    </form>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#heart").click(function () {
            if ($("#heart").hasClass("liked")) {
                $("#heart").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                $("#heart").removeClass("liked");
            } else {
                $("#heart").html('<i class="fa fa-heart" aria-hidden="true"></i>');
                $("#heart").addClass("liked");
            }
        });
    });

    $(document).ready(function () {
        $("#heart1").click(function () {
            if ($("#heart1").hasClass("liked")) {
                $("#heart1").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                $("#heart1").removeClass("liked");
            } else {
                $("#heart1").html('<i class="fa fa-heart" aria-hidden="true"></i>');
                $("#heart1").addClass("liked");
            }
        });
    });

    $(document).ready(function () {
        $("#heart2").click(function () {
            if ($("#heart2").hasClass("liked")) {
                $("#heart2").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                $("#heart2").removeClass("liked");
            } else {
                $("#heart2").html('<i class="fa fa-heart" aria-hidden="true"></i>');
                $("#heart2  ").addClass("liked");
            }
        });
    });
</script>
</body>
</html>