<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">

<div layout:fragment="title"><h2 th:text="#{editCom}"></h2></div>
<div layout:fragment="myContent">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" th:action="@{'/editCom'}">
                <input class="single-input inp" th:value="${comment.comment}" name="comment">
                <input type="hidden" th:value="${comment.newsPost.id}" name="post_id">
                <input type="hidden" th:value="${comment.id}" name="com_id">
                <button type="submit" class="genric-btn primary" th:text="#{edit}"></button>
            </form>
        </div>
    </div>
</div>
</html>