<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="title"><h2 th:text="#{profile}"></h2></div>
    <div layout:fragment="myContent" >
        <div class="row">
            <div class="col-sm-12">
                <a th:text="#{role}"></a><a> : </a>
                    <a th:each="role : ${user.roles}" th:if="${role.role == 'ROLE_MODERATOR'}"><a th:text="#{moder}"></a></a>
                    <a th:each="role : ${user.roles}" th:if="${role.role == 'ROLE_USER'}"><a th:text="#{user}"></a></a>
                <form th:action="@{'/editUser'}" method="post">
                    <input type="text" name="name" th:value="${user.fullName}" required
                           class="single-input inp">
                    <input type="password" name="password" th:placeholder="#{pass}" required
                           class="single-input inp">
                    <button type="submit" class="genric-btn success" th:text="#{edit}">Edit</button>
                </form>
                <form th:action="@{'/deleteUser'}" method="post">
                    <button type="submit" class="genric-btn danger" th:text="#{delete}">Delete profile</button>
                </form>
            </div>

        </div>

    </div>
</html>